<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Posts</h1>
    </div>
  </div>
</div>

<div>
  <app-post-list [postsArrayList]="postsArrayInit"></app-post-list>
</div>

<router-outlet></router-outlet>
