<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>{{ postTitle }}</h1>
      </div>
      <div class="col-sm-6">
        <h3 style="text-align: right"><small class="text-muted">{{ postCreatedAt | date:'short'}}</small></h3>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>{{ postContent }}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success"
                (click)="incLoveIts()">Love It!</button>
        <button class="btn btn-danger"
                (click)="decLoveIts()">Don't Love It!</button>
      </div>
    </div>
  </div>
</li>

