<ul>
  <app-post-list-item *ngFor="let post of postsArrayList"
                      [postTitle] = "post.title"
                      [postContent] = "post.content"
                      [postLoveIts] = "post.loveIts"
                      [postCreatedAt] = "post.createdAt"></app-post-list-item>
</ul>
